* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 300vh;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  background-color: bisque;
  font-family: 'Inter';
}
h2 {
  font-size: 40px;
}

img {
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.section-one {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 65px;
  background-color: bisque;
}

.hero-container {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.headline-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(197, 196, 150, 0);
  padding: 1rem;
  color: white;
  font-size: 64px;
}

.hero {
  width: 100%;
  object-fit: cover;
  height: 400px;
  display: block;
  border-radius: 0px;
}
.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  background-color: bisque;
  align-items: center;
  margin-bottom: 5rem;
}
.sections h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.sections h3 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.sections p {
  display: flex;
  justify-content: center;
  width: 90%;
  text-align: left;
  margin-top: 1rem;
}
.basic-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}
.regular-content {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  justify-content: center;
}
.luxury-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.treehouse {
  height: 422px;
  width: 100%;
}

.basic-container {
  width: 45%;
}
.basic-container p {
  padding: 12px;
}

.beachimg-container {
  width: 100%;
}
.beachimg {
  /* width: 618px; */
  width: 100%;
  height: 422px;
}

.section-form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 90%;
  align-self: center;
  padding-bottom: 8rem;
}
.section-form h2 {
  font-size: 40px;
  margin-bottom: 2rem;
  text-align: center;
}
.booking-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
}
.form-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
form h3 {
  justify-content: start;
  font-size: 32px;
}
.bar-container {
  width: 50%;
}
.bar-img {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}

form {
  padding: 2rem;
}
form p {
  width: 240px;
  font-size: 10px;
}

label {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
input,
textarea,
select {
  width: 100%;
  border-radius: 5px;
  border-color: rgb(8, 8, 8);
  padding: 0.3rem;
  border: 2px solid black;
}
.features-container div {
  display: flex;
  justify-content: space-between;
  margin-right: 6rem;
}
.features-container div input {
  width: 1rem;
}
.features-container div label {
  text-transform: capitalize;
}

input[type='text'],
input[type='date'],
select {
  font-size: 14px;
}

button {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
}

.offer {
  position: absolute;
  right: 28px;
  bottom: 0px;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid rgb(109, 214, 123);
}

.offer p {
  font-size: 16px;
}
.offer h4 {
  font-size: 20px;
  text-align: center;
}
