* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.logo {
  height: 3rem;
  width: 3rem;
}

header {
  background-color: bisque;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  color: white;
}

.nav-link {
  transition: 0.2s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 65px;
    flex-direction: column;
    background-color: bisque;
    width: 100%;
    transition: 0.3s;
    text-align: center;
    gap: 0px;
    align-items: flex-start;
  }

  .nav-link {
    margin-left: 2rem;
  }

  .nav-item {
    padding: 16px 0;
    width: 100%;
  }

  .nav-menu.active {
    left: 0;
  }
}
